	<footer>
		<div class="footer-wrapper">
			<div class="column one">
				<ul>
					<li><a href="#">Facebook Event</a></li>
					<li><a href="mailto:info@bloompublishing.com.au">Get in touch</a></li>
					<li><a href="https://www.squareyes.info">Site by Squareyes</a></li>
				</ul>
			</div>

			<div class="column two">
				<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
				<style type="text/css"></style>
				<div id="mc_embed_signup">
					<form action="//bloompublishing.us3.list-manage.com/subscribe/post?u=c9dbec3726040c690b29baf7d&amp;id=bafae0260b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<label>Sign up to our newsletter for event notifications</label>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c9dbec3726040c690b29baf7d_bafae0260b" tabindex="-1" value=""></div>
							<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
				</div>
			</div>
			<hr>
			<div class="column three">
				<figure>
					<img src="assets/images/focus-bh-logo.png" alt="">
				</figure>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="{{ "/assets/javascripts/app.js" | relative_url }}"></script>