<head>
    <!--[if gte IE 9]>
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <!-- Links -->
    <link rel="stylesheet" href="{{ "/assets/styles/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/styles/MyFontsWebfontsKit.css" | relative_url }}">
    <!--/** * @license * MyFonts Webfont Build ID 3429324, 2017-07-29T22:09:29-0400 * * The fonts listed in this notice are subject to the End User License * Agreement(s) entered into by the website owner. All other parties are * explicitly restricted from using the Licensed Webfonts(s). * * You may obtain a valid license at the URLs below. * * Webfont: Futura-Dem by URW++ * URL: https://www.myfonts.com/fonts/urw/futura/t-demi/ * Copyright: Copyright 2010 by (URW)++ Design &amp; Development GmbH * Licensed pageviews: 10,000 * * * License: https://www.myfonts.com/viewlicense?type=web&buildid=3429324 * * © 2017 MyFonts Inc*/-->
    <!-- Humans -->
    <link type="text/plain" rel="author" href="humans.txt" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/images/favicon/apple-icon-57x57.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/images/favicon/apple-icon-60x60.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/images/favicon/apple-icon-72x72.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/images/favicon/apple-icon-76x76.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/images/favicon/apple-icon-114x114.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/images/favicon/apple-icon-120x120.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/images/favicon/apple-icon-144x144.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/images/favicon/apple-icon-152x152.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/favicon/apple-icon-180x180.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/assets/images/favicon/android-icon-192x192.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/favicon/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/images/favicon/favicon-96x96.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/favicon/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/assets/images/favicon/manifest.json" | relative_url }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ "/assets/images/favicon/ms-icon-144x144.png" | relative_url }}">
    <meta name="theme-color" content="#ffffff">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>