---
---

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display: block; }

body {
line-height: 1; }

ol, ul {
list-style: none; }

blockquote, q {
quotes: none; }

blockquote {
&:before, &:after {
content: '';
content: none; } }

q {
&:before, &:after {
content: '';
content: none; } }

table {
border-collapse: collapse;
border-spacing: 0; }

/*================== VARIABLES ==================*/

// Colors
$dark: #222725;
$light: #eee;
$highlight: #ec1c24;
$blanket: #fff100;

// Breakpoints
$medium-breakpoint: 968px;
$small-breakpoint: 650px;
$xsmall-breakpoint: 580px;
$xxsmall-breakpoint: 420px;

/*================== ELEMENTS ==================*/

body {
    background-color: $light;
    font-family: 'Roboto', sans-serif;
    color: $dark;
}

img {
    width: 100%;
}

/*==================== TYPOGRAPHY ====================*/

h1 {
    font-family: 'Futura-Dem', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 70px;
    margin: -55px auto 20px;
    display: inline-block;
    position: relative;

    &.strike.mac {
        line-height: 1.2;
    }

    @media (max-width:$medium-breakpoint) {
        font-size: 60px;
    }

    @media (max-width: $xsmall-breakpoint) {
        font-size: 35px;
    }

    &::before {
        left: 0;
        width: 0px;
        height: 10px;
        background-color: $dark;
        content: '';
        position: absolute;
        margin-top: 38px;
        transition: width 0.5s ease;

        @media (max-width:$medium-breakpoint) {
            margin-top: 32px;
            height: 8px;
        }

        @media (max-width: $xsmall-breakpoint) {
            margin-top: 20px;
            height: 3px;
        }
    }

    &.active::before {
        width: 100%;
    }

    &.four {
        margin-bottom: 30px;

        &::before {
            left: 0;
            width: 0px;
            height: 9px;
            background-color: $dark;
            content: '';
            position: absolute;
            margin-top: 69px;
            transition: width 0.5s ease;

            @media (max-width:$medium-breakpoint) {
                margin-top: 59px;
                height: 7px;
            }

            @media (max-width: $xsmall-breakpoint) {
                margin-top: 35px;
                height: 3px;
            }
        }

        &.active::before {
            width: 100%;
        }

    }
}

p {
    line-height: 1.4;
    padding-bottom: 20px;
    font-size: 21px;
    text-align: left;

    @media (max-width:$medium-breakpoint) {
        font-size: 19px;
    }
}

a {
    color: $dark;
    text-decoration: none;
    border-bottom:1px solid $dark;

    &:hover {
        text-decoration: none;
        color: $highlight;
    }
}

/*==================== HERO ====================*/

.hero-banner {
    height: 100vh;
    width: 100%;
    background-image: url('../images/hero-large.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media (max-width: $medium-breakpoint) {
        background-image: url('../images/hero.jpg');
    }

    @media (max-width: $small-breakpoint) {
        background-image: url('../images/hero-mob.jpg');
    }


    figure {
        width: 300px;
        position: absolute;
        top: 0px;
        left: 0px;

        @media (max-width: $medium-breakpoint) {
            top: -25px;
            left: -50px;
        }

        @media (max-width: $small-breakpoint) {
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .arrow-down {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);

            a {
                border-bottom: none;

                i {
                    font-size: 34px;
                    color: $highlight;
                    animation: mover 2s infinite  alternate;

                    @keyframes mover {
                        0% { transform: translateY(0); }
                        100% { transform: translateY(-20px); }
                    }
                }
            }
    }

    h1 {
        position: absolute;
        top: 75px;
        right: 100px;
        color: $highlight;
        margin: 0;
        padding: 0;
        letter-spacing: -1px;
        text-transform: uppercase;
        font-size: 30px;

        @media (max-width: $medium-breakpoint) {
            top: 52px;
            right: 50px;
        }

        @media (max-width: $small-breakpoint) {
            display: none;
        }
    }
}

#blanket {
    z-index: 666;
    background-color: $blanket;
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;

    figure {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
            &.shrink {
                width: 0px;
            }

        #focus-logo {
            transition: all 0.5s linear;
            width: 100%;
        }
    }
}

#focus-logo path, #focus-logo polygon {
    fill: $highlight;
}

/*==================== lAYOUT ====================*/

#wrapper {
    max-width: 750px;
    margin: 0 auto 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    position: relative;

    @media (max-width:$medium-breakpoint) {
        padding: 0 20px;
    }

    @media (max-width:$xxsmall-breakpoint) {
        padding: 0 10px;
    }

    section {
        background-color: white;
        width: 100%;
        margin: 200px auto 0;
        text-align: center;
        z-index: 2;

        @media (max-width:$medium-breakpoint) {
            margin: 150px auto 0;
        }

        @media (max-width:$xxsmall-breakpoint) {
            margin: 120px auto 0;
        }


        .content-wrapper {
            padding: 0 60px 20px;
            z-index: 2;

            @media (max-width:$small-breakpoint) {
                padding: 0 40px 20px;
            }

            @media (max-width:$xxsmall-breakpoint) {
                padding: 0 20px 10px;
            }


            ul {
                text-align: left;
                float: left;
                margin: 15px 60px 30px;

                @media (max-width:$medium-breakpoint) {
                    &:first-of-type {
                        margin: 15px 80px 30px 60px;
                    }

                    &:last-of-type {
                        margin: 15px 0 30px;
                    }
                }

                @media (max-width:$xsmall-breakpoint) {
                    &:first-of-type, &:last-of-type {
                        margin: 0 0 15px 20px;
                    }
                }

                @media (max-width:$xsmall-breakpoint) {
                    &:first-of-type, &:last-of-type {
                        margin: 0 0 15px 40px;
                    }
                }

                li {
                    font-size: 21px;
                    padding-bottom: 15px;
                    list-style: circle;

                    @media (max-width:$medium-breakpoint) {
                        font-size: 19px;
                    }

                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    figure {
        position: absolute;
        z-index: 1;
        width: 300px;
    }
}

footer {
    background-color: $dark;
    color: $light;
    padding: 50px 0;
    margin-top: 100px;

    @media (max-width:$xsmall-breakpoint) {
        padding-bottom: 30px;
    }

    .footer-wrapper {
        display: flex;
        width: 80%;
        margin: 0 auto;
        flex-wrap: wrap;

        hr {
            width: 100%;
            margin: 50px 0;
            border-color: $light!important;

            @media (max-width:$xsmall-breakpoint) {
                width: 200px;
                margin: 20px auto;
                border: none;
            }
        }

        .column {
            width: 50%;

            @media (max-width:$xsmall-breakpoint) {
                width: 100%;
                text-align: center;
            }

            &.three {
                width: 100%;
                text-align: center;

                p {
                    color: $light;
                    font-size: 10px;
                    text-align: center;
                }

                figure {
                    max-width: 50px;
                    margin: auto;
                    display: inline-block;

                    @media (max-width:$xsmall-breakpoint) {
                        max-width: 35px;
                    }

                    &:first-of-type {
                        padding-right: 10px;
                    }

                    &:last-of-type {
                        padding-left: 10px;
                    }

                    svg {
                        width: 100%;
                        height: auto;
                        path {
                            fill: $light;
                        }
                    }
                }
            }

            ul {
                li {
                    padding-bottom: 10px;

                    a {
                        color: $light;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                            border-bottom:1px solid $light;
                        }
                    }
                }
            }
        }
    }
    #mc_embed_signup {

        form {
            text-align: right;

            @media (max-width:1150px) {
                padding-top: 0;
            }

            @media (max-width:$xsmall-breakpoint) {
                text-align: center;
                padding-top: 30px;
            }
        }

        label {
            font-weight: normal;
        }

        input.email {
            border-radius: 0px;
            border: 0;
            background-color: $light;
            width: 100%;
            max-width: 350px;

            &:focus {
                outline: 0;
            }
        }

        .button {
            background-color: $dark;
            border: 1px solid $light;
            border-radius: 0px;
            color: $light;
            line-height: 1;
            -webkit-appearance: none;

            @media (max-width:$xsmall-breakpoint) {
                width: 200px;
            }

            &:hover {
                background-color: $dark;
            }

            @media (max-width:1150px) {
                margin-top: 10px;
            }
        }
    }
}

/*==================== MODIFIERS ====================*/

.clearfix {
    clear: both;
}

.center {
    text-align: center;
}