<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
{% include header.html %}
        <div id="wrapper">
            <section>
                <div class="content-wrapper">
                    <h1 class="one strike">What?</h1>
                    <p>Hosted by Bloom Publishing and Hillvale, FOCUS is the 4th annual camera and zine fair. Bringing together some of the best camera hoarders and printed matter enthusiasts Australia has to offer.
                    </p>
                </div>
            </section>

            <section>
                <div class="content-wrapper">
                    <h1 class="two strike">When &amp; where?</h1>
                    <p>FOCUS will take place on Sunday August 27th, 10&mdash;4pm in the Abbotsford Convent Community &amp; Linen Rooms. This year we'll be asking for a gold coin donation on entry, with all profits going towards <a href="https://my.oxfam.org.au/fundraiser/view/6037">Oxfam's Emergency Food Crisis</a>.</p>
                    <p>Get <a href="https://www.google.com.au/maps/place/Abbotsford+Convent/@-37.8025714,145.0022225,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad6430738fab4cd:0xdb76f953991f8b47!8m2!3d-37.8025757!4d145.0044112?hl=en" target="_blank">directions</a> to the venue.</p>
                </div>
            </section>

            <section>
                <div class="content-wrapper">
                    <h1 class="three strike">Who?</h1>
                    <p>This year we've got tables filled with books and/or cameras from:</p>
                    <ul>
                        <li>Perimeter Books</li>
                        <li>Analog Cameras</li>
                        <li>Knowledge Editions</li>
                        <li>Junior Space</li>
                        <li>Fox Darkroom</li>
                        <li>Ladies of Leisure</li>
                    </ul>
                    <ul>
                        <li>Vacant Lot Store</li>
                        <li>RebelGirlWasHere</li>
                        <li>Rohan Hutchinson</li>
                        <li>Swampland Mag</li>
                        <li>Film Never Die</li>
                        <li>Diane Inc.</li>
                    </ul>
                    <div class="clearfix"></div>
                    <p>Plus many more independent camera sellers and more book sellers to be added soon! We also had a few extra spaces left, so if you've got some dusty cameras or books <a href="mailto:info@bloompublishing.com.au">get in touch</a>.</p>
                </div>
            </section>

            <section>
                <div class="content-wrapper">
                    <h1 class="four strike">See you there!</h1>
                    <p>Make sure to subscribe to the event on <a href="https://www.facebook.com/events/714292222111581/" target="_blank">Facebook</a> or via our newsletter below for all the latest news. Hope to see you all there!</p>
                    <p class="center">♥️ Bloom Publishing &amp; Hillvale.</p>
                </div>
            </section>
        </div>
    {% include footer.html %}
    </body>
</html>
